.footer {
  background-color: $grey-1;
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
  }
}
