.section-3 {
  @media (max-width: $md4) {
    display: none;
  }
  &__content {
    height: 492px;
  }

  &__item-1,
  &__item-2,
  &__item-3 {
    background-color: $grey-4;
  }

  &__item-1,
  &__item-3 {
    flex: 1 1 45%;
  }

  &__item-2 {
    flex: 1 1 100%;
    align-items: flex-start;
  }

  &__item-3 {
    color: $white;
    background: url("../img/section-3/01.png") 0 0 / cover no-repeat;
  }
}

.param {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 30px;

  &__value {
    text-align: right;
  }
}
.container__dots {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  flex: 1;
  margin: 0px 4px;
}
